.funding-project {
  font-size: 14px;
  background: #fafafa;
  padding: 20px 0px;
}
.funding-project .choice-item {
  margin-bottom: 20px;
}
.funding-project .choice-item li {
  float: left;
  text-align: center;
  width: 380px;
  line-height: 40px;
  position: relative;
  height: 40px;
  background-color: #ECECEC;
  color: #474C52;
}
.funding-project .choice-item li.active {
  background: #3EC9A7;
  color: #fff;
}
.funding-project .choice-item li img {
  position: absolute;
  left: 364px;
  z-index: 10;
}
