<div class="homeItem1">
	<div class="container">
		<div class="detail-first clear">
			<div class="first-left">
				<img src="images/electrocar-small.gif" alt="">
			</div>
			<div class="first-right">
				<div class="first-right1">
					<p class="title">电动车</p>
					<p class="sort">英斯特哈勃</p>
					<p style="height:26px;"></p>
					<div class="clear">
						<div class="p-left">
							<p class="care-amaze care"><img src="images/d0_favorite.png" alt="">关注( <i>2</i> )</p>
							<p class="care-amaze amazing"><img src="images/d0_like.png" alt="">赞( <i>1</i> )</p>
						</div>
						<p class="share"><span><img src="images/d0_weibo (1).png" alt=""></span><span><img src="images/d0_wechat (1).png" alt=""></span></p>
					</div>
				</div>
				<div class="first-right2">
					<div class="text-right">
						<span class="desc">
							众筹已结束
						</span>
					</div>
                    <div class="company"><span>已筹到</span></div>
                    <div class="price">
                       ￥1.00 
                    </div>
                    <div class="line">
                        <span style="width:20%"></span>
                    </div>
                    <div class="row process">20%</div>
                    <div class="row dl_more">
                        <dl>
                            <dt>支持人数</dt>
                            <dd>1人</dd>
                        </dl>
                        <dl>
                            <dt>剩余天数(天)</dt>
                            <dd>0天</dd>
                        </dl>
                        <dl>
                            <dt>目标金额(元)</dt>
                            <dd>￥5,000.00<dd>
                        </dl>
                    </div>
				</div>
			</div>
		</div>
		<div class="detail-second clear">
			<div class="second-left">
				<div class="project-intro">
					项目介绍
				</div>
				<div class="intro-detail">
					<img class="quo-left" src="images/d0-introduction-1.png" alt="" >
					<p>神奇的电动车</p>
					<img class="quo-right" src="images/d0-introduction-2.png" alt="">
				</div>
				<div class="second-imgBox">
					<img src="images/electrocar.jpg" alt="">
					<img src="images/homeItem2-2.jpg" alt="">
					<img src="images/homeItem2-3.jpg" alt="">
				</div>
			</div>
			<div class="second-right">
				<div class="second-right-item">
					<p class="price clear">
						<span class="price-left">￥1.00</span>
						<span class="price-right">1人支持</span>
					</p>
					<p class="title">xxx过的好吗?</p>
					<p class="feedback">蓝瘦,香菇</p>
					<p class="limit clear">
						<span class="limit-left">限额100位</span>
						<span class="limit-right">还剩你猜几位</span>
					</p>
					<p class="smallimg">
						<img src="images/homeItem2-smallimg.jpg" alt="">
					</p>
					<p class="tipMess">预计发放时间:30天</p>
					<div class="btn">
						<button>支持￥1.00</button>
					</div>
				</div>
				<div class="second-right-item">
					<p class="price clear">
						<span class="price-left">￥10.00</span>
						<span class="price-right">1人支持</span>
					</p>
					<p class="title">xxx过的好吗?</p>
					<p class="feedback">蓝瘦,香菇</p>
					<p class="limit clear">
						<span class="limit-left">限额100位</span>
						<span class="limit-right">还剩你猜几位</span>
					</p>
					<p class="smallimg">
						<img src="images/homeItem2-smallimg.jpg" alt="">
					</p>
					<p class="tipMess">预计发放时间:30天</p>
					<div class="btn">
						<button>支持￥10.00</button>
					</div>
				</div>
				<div class="second-right-item">
					<p class="price clear">
						<span class="price-left">￥2.00</span>
						<span class="price-right">1人支持</span>
					</p>
					<p class="title">xxx过的好吗?</p>
					<p class="feedback">蓝瘦,香菇</p>
					<p class="limit clear">
						<span class="limit-left">限额100位</span>
						<span class="limit-right">还剩你猜几位</span>
					</p>
					<p class="smallimg">
						<img src="images/homeItem2-smallimg.jpg" alt="">
					</p>
					<p class="tipMess">预计发放时间:30天</p>
					<div class="btn">
						<button>支持￥2.00</button>
					</div>
				</div>
				<div class="tip-risk">
					<p>风险提示</p>
					<ul class="declare-list">
                        <li>1.本平台仅提供相关服务，众筹关系存在于项目发起人和支持者之间，本平台作为第三方不是项目发起人和支持者中的任何一方。</li>
                        <li>2.回报发放、发票及报修等后续服务由项目发起人负责。</li>
                        <li>3.项目众筹结束的日期并不代表项目回报发放日期。</li>
                        <li>4.如果存在纯支持档位，一旦支付成功，除项目取消情况外不予退款。</li>
                        <li>5.纯支持或抽奖档位，项目发起人可能不会给您发送回报。</li>
                        <li>6.投资有风险，购买需谨慎。</li>
                    </ul>
				</div>
			</div>
		</div>
	</div>
</div>