<div class="homeItem1">
	<div class="homeItem1-box">
		<div class="imgBox">
			<img src="images/tea.png" alt="">
		</div>
		<div class="item-firm clear">
			<div class="firm-left">
				<p class="title">【玄展】</p>
				<p class="firm">英斯特哈博科技有限公司</p>
				<p class="share"><span><img src="images/d0_weibo (1).png" alt=""></span><span><img src="images/d0_wechat (1).png" alt=""></span></p>
			</div>
			<div class="firm-right">
				<p class="care-amaze care"><img src="images/d0_favorite.png" alt="">关注( <i>1</i> )</p>
				<p class="care-amaze amazing"><img src="images/d0_like.png" alt="">赞( <i>2</i> )</p>
			</div>
		</div>
		<div class="project-intro">
			项目介绍
		</div>
		<div class="intro-detail">
			<img class="quo-left" src="images/d0-introduction-1.png" alt="" >
			<p>【玄展】刚柔相济，一组有态度的茶器！</p>
			<img class="quo-right" src="images/d0-introduction-2.png" alt="">
		</div>
		<div class="bigImg-box">
			<p class="bigImg-tip">项目更新</p>
			<p><img src="images/project.jpg" alt=""></p>
		</div>
	</div>
</div>

