<div class="signProgram-page2">
	<div class="page2-item clear">
		<p class="page2-title">创始人基本信息</p>
		<div class="item-sort mg-r-20">
			<label>姓名<i>*</i></label>
			<div class="sort-box">
				<input class="sort-input" type="text" name="" value="" placeholder="">
				<div class="error-tip">输入有误,请检查</div>
			</div>
		</div>
		<div class="item-sort mg-r-20">
			<label>年龄<i>*</i></label>
			<div class="sort-box">
				<input class="sort-input" type="text" name="" value="" placeholder="">
				<div class="error-tip">输入有误,请检查</div>
			</div>
		</div>
		<div class="item-sort">
			<label>性别<i>*</i></label>
			<select name="" class="sex">
				<option value="男">男</option>
				<option value="女">女</option>
			</select>
		</div>
		<div class="item-sort mg-r-20">
			<label>手机号<i>*</i></label>
			<div class="sort-box">
				<input class="sort-input" type="text" name="" value="" placeholder="">
				<div class="error-tip">输入有误,请检查</div>
			</div>
		</div>
		<div class="item-sort mg-r-20">
			<label>email<i>*</i></label>
			<div class="sort-box">
				<input class="sort-input" type="text" name="" value="" placeholder="">
				<div class="error-tip">输入有误,请检查</div>
			</div>
		</div>
		<div class="item-sort">
			<label>微信<i>*</i></label>
			<div class="sort-box">
				<input class="sort-input" type="text" name="" value="" placeholder="">
				<div class="error-tip">输入有误,请检查</div>
			</div>
		</div>
	</div>
	<div class="page2-item clear">
		<p class="page2-title">项目信息</p>
		<div class="item-sort1 mb30">
			<label>创业项目名称<i>*</i></label>
			<div class="sort-box">
				<input class="sort-input" type="text" name="" value="" placeholder="">
				<div class="error-tip">输入有误,请检查</div>
			</div>
		</div>
		<div class="item-sort1">
			<label>项目描述<i>*</i></label>
			<div class="sort-box">
				<textarea name=""></textarea>
				<div class="error-tip">输入有误,请检查</div>
			</div>
		</div>
		<div class="item-sort1">
			<label>用户痛点<i>*</i></label>
			<div class="sort-box">
				<textarea name=""></textarea>
				<div class="error-tip">输入有误,请检查</div>
			</div>
		</div>
		<div class="item-sort1">
			<label>项目网址或产品地址<i>*</i></label>
			<div class="sort-box">
				<textarea name=""></textarea>
				<div class="error-tip">输入有误,请检查</div>
			</div>
		</div>
		<div class="item-sort1">
			<label>项目优势<i>*</i></label>
			<div class="sort-box">
				<textarea name=""></textarea>
				<div class="error-tip">输入有误,请检查</div>
			</div>
		</div>
		<div class="item-sort1">
			<label>项目进展规划<i>*</i></label>
			<div class="sort-box">
				<textarea name="" placeholder="（盈利情况、用户数、下载量等相关数据，如有，请说明）"></textarea>
				<div class="error-tip">输入有误,请检查</div>
			</div>
		</div>
		<div class="item-sort mg-r-20">
			<label>希望融资金额<i>*</i></label>
			<div class="sort-box">
				<input class="sort-input" type="text" name="" value="" placeholder="">
				<div class="error-tip">输入有误,请检查</div>
			</div>
		</div>
		<div class="item-sort mg-r-20">
			<label>出让股权比例<i>*</i></label>
			<div class="sort-box">
				<input class="sort-input" type="text" name="" value="" placeholder="">
				<div class="error-tip">输入有误,请检查</div>
			</div>
		</div>
		<div class="item-sort">
			<label>融资阶段<i>*</i></label>
			<select name="" class="sex">
				<option value="A轮">A轮</option>
				<option value="Pre-A轮">Pre-A轮</option>
				<option value="B轮">B轮</option>
				<option value="C轮">C轮</option>
				<option value="D轮">D轮</option>
				<option value="E轮">E轮</option>
				<option value="E轮">Pre-IPO</option>
				<option value="已上市">已上市</option>
			</select>
		</div>
		<div class="item-sort1">
			<label>商业计划书<i>*</i></label>
			<div class="info-item">
				<div class="fileup">上传文件</div>
				<input type="file" onchange="angular.element(this).scope().fileNameChanged(this)">
			</div>
		</div>
	</div>
	<div class="page-btn mg-t-50">
		<a href="" class="bt-g-140" ui-sref="signProgram.page3" ng-click="titleNum(2)">确认提交</a>
	</div>
</div>